.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url(assets/emppic.png);
  padding: 2rem;
}

h1 {
  color: #333;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

label {
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 400px;
  border: 2px solid teal;
  border-radius: 4px;

}

input[type="file"] {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

button {
  padding: 0.5rem 1rem;
  background-color: teal;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: teal;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
